/**** variable ****/
$color-red: #f75d91;
$color-red-light: #f7f1f6;
$color-red-light2: #f86395;
$color-white: #ffffff;
$color-gray: #f5f1f1;

/**** color css ****/
.lcd-brand,
.navbar.lcd-navbar,
.lcd-profile-basic-info-btn,
.lcd-profile-basic-info-btn:hover,
.navbar.lcd-navbar .navbar-toggler .line,
.widget.smm-widget-list .thumb .lc-h-btn a {
	background: $color-red;
}
.navbar.lcd-navbar .login-side .btn-transparent:hover {
	color: $color-red !important;
}
.lcd-profile-basic-info-btn,
.lcd-profile-basic-info-btn:hover {
	border-color: $color-red;
}

@media all and (max-width: 991px){
	.navbar.lcd-navbar .navbar-toggler {
		background: $color-white;
	}
}