{% extends "base_generic.html" %}
<!-- HTML Template to create school by a user outside the admin template -->

{% block content %}
    {% load static %}

    <!-- start page title -->
    <div class="lc-page-title-wrap">
        <div class="lc-page-title text-center lc-page-title-addlisting-bg rellax" data-rellax-speed="-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 rellax" data-rellax-speed="3">
                        <h2>Create School Record</h2>
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Add Listing</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <!-- start listing details section -->
    <div class="bg-single">
        <div class="lc-container">
            <div class="lc-listing-detaits-section lc-single-page-top100 pb-5">
                <div class="row">
                    <div class="col-12">
                        <div class="lc-user-sign-in mt-5">
                            <div class="media">
                                <img src="{% static 'images/author/13.png' %}" alt="user">
                                <div class="media-body">
                                    <p>You are currently signed in as <span>{{user.first_name}} {{user.last_name}}</span>, <a href="#">Sign out</a> or continue below and start submission.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form method="post" enctype="multipart/form-data">  
                    {% csrf_token %}  
                    <!-- add basic details -->
                    <div class="lc-add-listing-details">
                        <div class="lc-section-title lc-section-title-2">
                            <h4 class="entry-title"><i class="fa fa-pencil-square-o"></i>Basic Details</h4>
                            <a class="btn btn-listing" href="#">How it Work</a>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <label class="lc-add-listing-wrap">
                                    <span class="lc-add-listing-input-title">{{ form.name.label }} <span>*</span></span>
                                    {{ form.name }}
                                </label>
                                <label class="lc-add-listing-wrap">
                                    <span class="lc-add-listing-input-title">{{ form.email.label }} <span>*</span></span>
                                    {{ form.email }}
                                </label>
                                <label class="lc-add-listing-wrap">
                                    <span class="lc-add-listing-input-title">{{ form.phone.label }} <span>*</span></span>
                                    {{ form.phone }}
                                </label>
                                <label class="lc-add-listing-wrap">
                                    <span class="lc-add-listing-input-title">{{ form.website.label }}</span>
                                    {{ form.website }}
                                </label>
                                <label class="lc-add-listing-wrap">
                                    <span class="lc-add-listing-input-title">{{ form.motto.label }}  <span>*</span></span>
                                    {{ form.motto }} 
                                </label>
                                <!-- <label class="lc-add-listing-wrap">
                                    <span class="lc-add-listing-input-title">Latitude <span>*</span></span>
                                    <input type="text" name="latitude" value="" class="lc-add-listing-input form-control" id="lat" placeholder="38.612846590851696">
                                </label> -->
                            </div>
                            <div class="col-lg-6">
                                <label class="lc-add-listing-wrap">
                                    <span class="lc-add-listing-input-title">{{ form.street.label }}  <span>*</span></span>
                                    {{ form.street }} 
                                </label>
                                <label class="lc-add-listing-wrap">
                                    <span class="lc-add-listing-input-title">{{ form.town.label }} <span>*</span></span>
                                    {{ form.town }}
                                </label>
                                <label class="lc-add-listing-wrap lc-select-input-field">
                                    <span class="lc-add-listing-input-title">{{ form.lga.label }}  <span>*</span></span>
                                    {{ form.lga }} 
                                </label>
                                <label class="lc-add-listing-wrap lc-select-input-field">
                                    <span class="lc-add-listing-input-title">{{ form.state.label }} <span>*</span></span>
                                    {{ form.state }}
                                </label>
                                <label class="lc-add-listing-wrap">
                                    <span class="lc-add-listing-input-title">{{ form.country.label }}</span>
                                    {{ form.country }} 
                                </label>
                            </div>
                            <div class="col-lg-3">
                                <label class="lc-add-listing-wrap">
                                    <span class="lc-add-listing-input-title">{{ form.admin.label }} <span>*</span></span>
                                    {{ form.admin }}
                                </label>
                            </div>
                            <div class="col-lg-3">
                                <label class="lc-add-listing-wrap">
                                    <span class="lc-add-listing-input-title">{{ form.approval_number.label }}</span>
                                    {{ form.approval_number }} 
                                </label></div>
                            <div class="col-lg-3">
                                <label class="lc-add-listing-wrap">
                                    <span class="lc-add-listing-input-title">{{ form.founded.label }}</span>
                                    {{ form.founded }}
                                </label>
                            </div>
                            <div class="col-lg-3">
                                <label class="lc-add-listing-wrap">
                                    <span class="lc-add-listing-input-title">{{ form.logo.label }}</span>
                                    {{ form.logo }}
                                </label>
                            </div>
                            <div class="col-12">
                                <label class="lc-add-listing-wrap">
                                    <span class="lc-add-listing-input-title">{{ form.description.label }} <span>*</span></span>
                                    {{ form.description }}
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <label class="lc-add-listing-wrap">
                                    <span class="lc-add-listing-input-title">{{ form.latitude.label }}</span>
                                    {{ form.latitude }}
                                </label>
                            </div>
                            <div class="col-lg-6">
                                <label class="lc-add-listing-wrap">
                                    <span class="lc-add-listing-input-title">{{ form.longitude.label }}</span>
                                    {{ form.longitude }}
                                </label>                                
                            </div>
                            <div class="col-12">
                                <!-- start google map -->
                                <div class="lc-addlisting-page-map">
                                    <div class="lc-addlisting-page-map-area lc-addlisting-page-gmmap" data-type="gm" data-marker="" id="cpdl-map"></div>
                                </div>
                                <!-- end google map -->                                
                            </div>
                            
                                
                                
                                <!-- <label class="lc-add-listing-wrap">
                                    <span class="lc-add-listing-input-title">Langitude <span>*</span></span>
                                    <input type="text" name="longitude" value="" class="lc-add-listing-input form-control" id="lng" placeholder="-90.6190851696">
                                </label> -->
                        </div>
                    </div>
                    <!-- add basic details end -->
                    
                    <!-- add advanced information -->
                    <div class="lc-business-info">
                        <div class="lc-section-title lc-section-title-2">
                            <h4 class="entry-title"><i class="fa fa-address-card-o"></i> Advanced Information</h4>
                            <a class="btn btn-listing" href="#">How it Work</a>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="lc-select-input-field">
                                    <span class="lc-add-listing-input-title">{{ form.boarding.label}}</span>
                                    {{ form.boarding }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="lc-select-input-field">
                                    <span class="lc-add-listing-input-title">{{ form.gender.label}}</span>
                                    {{ form.gender }}
                                </div>
                            </div>
                            <div class="col-12 mt-4">    
                                <!-- add classes information section -->                            
                                <div class="lc-additional-info mt-3 border-top">
                                    <div class="lc-section-title lc-section-title-2">
                                        <h4 class="entry-title">Classes Section</h4>
                                    </div>
                                    <div class="lc-switch-btn-area">
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.creche }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.creche.label }}</span>
                                                </label>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.nursery }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.nursery.label }}</span>
                                                </label>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.primary }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.primary.label }}</span>
                                                </label>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.secondary }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.secondary.label }}</span>
                                                </label>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.aLevels }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.aLevels.label }}</span>
                                                </label>
                                            </li>
                                        </ul>                                       
                                    </div>
                                </div>
                                <!-- add classes information section end -->

                                <!-- add approved exams information section -->
                                <div class="lc-additional-info mt-3 border-top">
                                    <div class="lc-section-title lc-section-title-2">
                                        <h4 class="entry-title">Approved Exams Section</h4>
                                    </div>
                                    <div class="lc-switch-btn-area">
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.ncce }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.ncce.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.scce }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.scce.label }}</span>
                                                </label>
                                            </li>
                                        </ul>    
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.waec }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.waec.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.neco }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.neco.label }}</span>
                                                </label>
                                            </li>
                                        </ul> 
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.jwaec }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.jwaec.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.jneco }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.jneco.label }}</span>
                                                </label>
                                            </li>
                                        </ul> 
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.toefl }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.toefl.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.ielts }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.ielts.label }}</span>
                                                </label>
                                            </li>
                                        </ul> 
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.alevel }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.alevel.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.igcse }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.igcse.label }}</span>
                                                </label>
                                            </li>
                                        </ul>                                   
                                    </div>
                                </div>
                                <!-- add approved exams information section end -->

                                <!-- add activities information section -->
                                <div class="lc-additional-info mt-3 border-top">
                                    <div class="lc-section-title lc-section-title-2">
                                        <h4 class="entry-title">Activities Section</h4>
                                    </div>
                                    <div class="lc-switch-btn-area">
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.carol }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.carol.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.interhousesports }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.interhousesports.label }}</span>
                                                </label>
                                            </li>
                                        </ul>    
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.culturalday }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.culturalday.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.dance }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.dance.label }}</span>
                                                </label>
                                            </li>
                                        </ul> 
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.spellingbees }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.spellingbees.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.debate }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.debate.label }}</span>
                                                </label>
                                            </li>
                                        </ul> 
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.quiz }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.quiz.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.swimming }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.swimming.label }}</span>
                                                </label>
                                            </li>
                                        </ul> 
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.karate }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.karate.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.costumeday }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.costumeday.label }}</span>
                                                </label>
                                            </li>
                                        </ul>                                   
                                    </div>
                                </div>
                                <!-- add activities information section end -->

                                <!-- add clubs and societies information section -->
                                <div class="lc-additional-info mt-3 border-top">
                                    <div class="lc-section-title lc-section-title-2">
                                        <h4 class="entry-title">Clubs and Societies Section</h4>
                                    </div>
                                    <div class="lc-switch-btn-area">
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.gguide }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.gguide.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.bscout }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.bscout.label }}</span>
                                                </label>
                                            </li>
                                        </ul>    
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.frsc }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.frsc.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.music }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.music.label }}</span>
                                                </label>
                                            </li>
                                        </ul> 
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.drama }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.drama.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.press }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.press.label }}</span>
                                                </label>
                                            </li>
                                        </ul> 
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.jets }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.jets.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.karate }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.karate.label }}</span>
                                                </label>
                                            </li>
                                        </ul> 
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.rcross }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.rcross.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.artscraft }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.artscraft.label }}</span>
                                                </label>
                                            </li>
                                        </ul>                                   
                                    </div>
                                </div>
                                <!-- add clubs and societies information section end -->

                                <!-- add facilities information section -->
                                <div class="lc-additional-info mt-3 border-top">
                                    <div class="lc-section-title lc-section-title-2">
                                        <h4 class="entry-title">Facilities Section</h4>
                                    </div>
                                    <div class="lc-switch-btn-area">
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.sickbay }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.sickbay.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.multipurposehall }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.multipurposehall.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.sciencelab }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.sciencelab.label }}</span>
                                                </label>
                                            </li>
                                        </ul>    
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.busservice }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.busservice.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.library }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.library.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.playground }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.playground.label }}</span>
                                                </label>
                                            </li>
                                        </ul> 
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.sportscomplex }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.sportscomplex.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.ictcenter }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.ictcenter.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.artstudio }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.artstudio.label }}</span>
                                                </label>
                                            </li>
                                        </ul> 
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.orchard }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.orchard.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.farmhouse }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.farmhouse.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.specialneeds }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.specialneeds.label }}</span>
                                                </label>
                                            </li>
                                        </ul> 
                                        <ul>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.musicstudio }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.musicstudio.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.homemanagementlab }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.homemanagementlab.label }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="lc-switch-btn">
                                                    <span class="switch">
                                                        {{ form.languagestudio }}
                                                        <span class="slider round"></span>
                                                    </span>
                                                    <span class="title">{{ form.languagestudio.label }}</span>
                                                </label>
                                            </li>
                                        </ul>                                   
                                    </div>
                                </div>
                                <!-- add facilities information section end -->
                            </div>
                        </div>
                    </div>
                    <!-- add advanced information end -->
                    <div class="lc-add-listing-form-btn">
                        <input class="btn btn-blue" type="submit" value="Add School" />
                    </div>  
                </form> 
            </div>
        </div>
    </div>   
{% endblock %}
