{% extends "base_generic.html" %}
<!-- HTML Template to list schools on the search page -->

{% block content %}
{% load static %}
    <div class="lc-search-map-section lc-search-map-section-top">
        <!-- <div id="lc-search-map" class="lc-search-map" data-lat="38.626054" data-lng="-90.197513" data-maptype="gm" data-zoom="10" data-marker="{% static 'images/marker/default.png' %}"></div> -->
        <div class="lc-search-map-content">
            <div class="lc-search-map-content-details">
                <div class="lc-container">
                    <div class="row">
                        <div class="search-form col-3">
                            <div class="widget widget-author-contact">
                                <div class="media">
                                    <div class="media-body">
                                        <h3>Refine Search</h3><hr />
                                    </div>
                                </div>
                                <div class="lc-comments-form">
                                        <form method="GET" action="/" >
                                            {% csrf_token %}
                                            <div class="contact-form">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <h5>Location</h5>
                                                            <ul class="lc-all-filter">
                                                                <li>
                                                                    <div class="lc-select-input-field">
                                                                        {{ form.state }}
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <div class="lc-select-input-field">
                                                                        {{ form.lga }}
                                                                    </div>
                                                                </li>
                                                            </ul>                                                   
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-12">
                                                        <div class="form-group">
                                                            <div>
                                                                <h5>Classes</h5>
                                                                <ul>
                                                                    <li>
                                                                        <label class="lc-switch-btn">
                                                                            <span class="switch">
                                                                            <input type="checkbox">
                                                                            <span class="slider round"></span>
                                                                            </span>
                                                                            <span class="title">Accepts Bitcoin 1</span>
                                                                        </label>
                                                                    </li>
                                                                </ul>
                                                                <ul>
                                                                    <li>
                                                                        <label class="lc-switch-btn">
                                                                            <span class="switch">
                                                                            <input type="checkbox">
                                                                            <span class="slider round"></span>
                                                                            </span>
                                                                            <span class="title">Accepts Bitcoin 2</span>
                                                                        </label>
                                                                    </li>
                                                                </ul>
                                                                <ul>
                                                                    <li>
                                                                        <label class="lc-switch-btn">
                                                                            <span class="switch">
                                                                            <input type="checkbox">
                                                                            <span class="slider round"></span>
                                                                            </span>
                                                                            <span class="title">Accepts Bitcoin 3</span>
                                                                        </label>
                                                                    </li>
                                                                </ul>
                                                                <ul>
                                                                    <li>
                                                                        <label class="lc-switch-btn">
                                                                            <span class="switch">
                                                                            <input type="checkbox">
                                                                            <span class="slider round"></span>
                                                                            </span>
                                                                            <span class="title">Accepts Bitcoin 4</span>
                                                                        </label>
                                                                    </li>
                                                                </ul>
                                                                <ul>
                                                                    <li>
                                                                        <label class="lc-switch-btn">
                                                                            <span class="switch">
                                                                            <input type="checkbox">
                                                                            <span class="slider round"></span>
                                                                            </span>
                                                                            <span class="title">Accepts Bitcoin 5</span>
                                                                        </label>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                </div>
                                            </div>
                                                <button class="btn btn-blue-2 ripple" type="submit">Refine Search</button>
                                        </form>
                                </div>
                            </div>
                        </div>
                        <div class="lc-single-page-top100 col-9">
                            <ul class="lc-all-filter">
                                <!-- <li><a class="lc-common-btn" href="#"><i class="fa fa-clock-o"></i>Near Me</a></li> -->
                                <li><a class="lc-common-btn" href="#"><i class="fa fa-map-marker"></i>Montessori</a></li>
                                <li><a class="lc-common-btn" href="http://127.0.0.1:8000/search/schools?approval_number=True"><i class="fa fa-clock-o"></i>Gov't Approved</a></li>
                                <li><a class="lc-common-btn" href="#"><i class="fa fa-map-marker"></i>Featured</a></li>
                                <li><a class="lc-common-btn" href="http://127.0.0.1:8000/search/schools?verified=True"><i class="fa fa-map-marker"></i>Verified</a></li>
                                <!-- <li><button class="lc-search-more-filter-btn lc-common-btn"><i class="fa fa-sliders"></i>More 
                                Filter</button></li> -->
                                <!-- lc grid btn -->
                                <!-- <li class="search-layout float-right">
                                    <button class="lc-search-map-hide"><i class="fa fa-map-markar"></i>Hide Map</button>
                                    <a class="lc-search-list active" href="#"><i class="fa fa-th-large"></i></a>
                                    <a class="lc-search-grid" href="#"><i class="fa fa-list"></i></a>
                                </li> -->
                            </ul>
                            <!-- lc more filter -->
                            
                            <div class="row mt-1">
                                {% if school_list %}
                                    {% for school in school_list %}
                                        <!-- single listing -->
                                        <div class="col-12 col-lg-4 col-md-4 wow animated fadeIn" data-wow-duration="0.1s" data-wow-delay="0.1s">
                                            <div class="lc-listing-single" data-postid="14" data-lat="-37.8210922667" data-lng="175.2209316333" data-maptype="gm"  data-marker="images/marker/resturent.png">
                                                <div class="entry-thumb">
                                                    <img class="img-thumbnail" src="{% static 'images/features/07.png' %}"  alt="img">
                                                    <span class="btn-close">{{ school.lga }}</span>
                                                    <div class="entry-thumb-content">
                                                        <span class="rating">
                                                            <i class="fa fa-star"></i>4.9 
                                                            <span class="count">(79)</span>
                                                        </span>
                                                        <span class="float-right">
                                                            <i class="fa fa-bookmark-o"></i>
                                                            <a class="btn btn-primary" data-toggle="modal" data-target=".lc-listing-modal">
                                                                <span><i class="fa fa-eye"></i></span>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="entry-content">
                                                    <div class="media">
                                                        {% if school.logo %}
                                                            <img class="img-logo-search" src="{{ school.logo.url }}" alt="img">
                                                        {% else %}
                                                            <img src="{% static 'images/author/02.png' %}" alt="img">
                                                        {% endif %}
                                                        <div class="media-body">
                                                            <h4><a class="title" href="{{ school.get_absolute_url }}">{{ school }}</a></h4>
                                                            <span><i class="fa fa-cutlery"></i><a href="#">{{ school.motto }}</a></span>
                                                            <span><i class="fa fa-map-marker"></i><a href="#">{{ school.state }}, {{ school.country }}</a></span>
                                                        </div>
                                                    </div>
                                                    <p>{{ school.description|truncatechars:140 }}</p>                            
                                                </div>
                                                <div class="entry-footer">
                                                    <span>$10 - $200</span>
                                                    <span class="right">+44 20 7336</span>
                                                </div>
                                            </div>
                                        </div>               
                                        <!-- /. single listing -->
                                    {% endfor %}        
                                {% else %}
                                    <p>There are no schools yet in this region.</p>
                                {% endif %} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>