{% extends "base_generic.html" %}

{% block content %}
    {% load static %}

    <!-- start page title -->
    <div class="lc-page-title-wrap">
        <div class="lc-page-title text-center lc-page-title-addlisting-bg rellax" data-rellax-speed="-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 rellax" data-rellax-speed="3">
                        <h2>Add Listing</h2>
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Add Listing</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <!-- start listing details section -->
    <div class="bg-single">
        <div class="lc-container">
            <div class="lc-listing-detaits-section lc-single-page-top100 pb-5">
                <!-- <h1>CRUD Function Based View Example</h1>   -->
                <!-- <form method="post">  
                    {% csrf_token %}  
                    {{ form.as_p }}                        
                    <input type="submit" value="Submit" />  
                </form>  -->
                <form method="post"> 
                    {% csrf_token %} 

                    <div class="row">
                        <div class="col-lg-6">
                                {{ form.non_field_errors }}
                                <!-- <div class="fieldWrapper"> -->
                                    {{ form.subject.errors }}
                                    <!-- <label for="{{ form.subject.id_for_label }}" class="lc-add-listing-wrap">
                                        <span class="lc-add-listing-input-title">Email subject:</span>
                                    </label> -->
                                    {{ form.subject }}
                                <!-- </div> -->
                                <div class="fieldWrapper">
                                    {{ form.message.errors }}
                                    <label for="{{ form.message.id_for_label }}">Your message:</label>
                                    {{ form.message }}
                                </div>
                                <div class="fieldWrapper">
                                    {{ form.sender.errors }}
                                    <label for="{{ form.sender.id_for_label }}">Your email address:</label>
                                    {{ form.sender }}
                                </div>
                                <div class="fieldWrapper">
                                    {{ form.cc_myself.errors }}
                                    <label for="{{ form.cc_myself.id_for_label }}">CC yourself?</label>
                                    {{ form.cc_myself }}
                                </div>
                        </div>
                    </div>  
                    <input type="submit" value="Submit" />                  
                </form>
            </div>
        </div>
    </div>   
{% endblock %}
