{% extends "base_generic.html" %}

{% block content %}
    {% load static %}

    <!-- start page title -->
    <div class="lc-page-title-wrap">
        <div class="lc-page-title text-center lc-page-title-addlisting-bg rellax" data-rellax-speed="-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 rellax" data-rellax-speed="3">
                        <h2>Add Listing</h2>
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Add Listing</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <!-- start listing details section -->
    <div class="bg-single">
        <div class="lc-container">
            <div class="lc-listing-detaits-section lc-single-page-top100 pb-5">
                <h1>Thanks for your mail</h1>  

            </div>
        </div>
    </div>   
{% endblock %}
