
// font///
$font-quicksand: 'Quicksand', sans-serif;
$font-lato: 'Lato', sans-serif;

// project color//
$color-white: #ffffff;
$color-white-2: #fefefe;
$color-white-two: #fffefe;
$color-black: #222222;
$color-black-2: #414c5a;
$color-black-3: #252525;
$color-black-4: #092c48;
$color-block-5: #262d43;
$color-gray: #707070;
$color-gray-light: #d3d3d3;
$color-gray-2: #ebebeb;
$color-gray-3: #e1e1e1;
$color-gray-4: #c0c2c3;
$color-gray-5: #bcc2d1;
$color-white-blue: #ebf1f7;
$color-alice-blue-2: #f7f9fb;
$color-light-blue: #ebf3f8;
$color-whisper: #eeeeee;
$color-white: #ffffff;
$color-gainsboro: #e5e0e0;
$color-yellow: #ffb300;
$color-blue: #1580c7;
$color-alice-blue: #e7f2f9;
$color-steel-blue: #49535d;
$color-arsenic: #9ca0a4;
$color-zambezi: #565e69;
$color-rock-blue: #3d454e;
$color-nobel: #a1a1a1;
$color-azure: #fbfcfd;
$color-alabaster: #e8eef1;
$color-green: #159f6e;
$color-pink: #ff3652;
$color-blue:#1575b7;
$color-deep-blue: #0378c6;
$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-youtube: #ff0000;
$color-instagram: #c32aa3;
$color-pinterest: #bd081c;
$color-linkedin: #007bb5;
$color-google-plus: #db4437;
$color-dribbble: #ea4c89;
$color-slack: #4d394b;
$color-tumblr: #35465d;
$color-gray-4: #cacadb;
$color-red: #ff1919;
$color-yellow: #ffa320;
$color-yellow-2: #ffb300;
$color-orange: #ff4c4c;

