{% extends "admin_generic.html" %}
    
    {% load static %} 
    
    {% block content %}
        <!-- start profile section-->
        <!-- start profile section message field -->
        <div class="lcd-profile-notice-section">
            <div class="row">
                <div class="col-12">
                    <div class="lcd-profile-notice-area">
                        <p><i class="fa fa-bell-o"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end profile section message field -->
        <!-- start profile section input field-->
        <form action="" method="POST">
        <div class="lcd-profile-section">
            <div class="row">
                <div class="col-12">
                    <!-- basic info profile section start -->
                    <div class="lcd-profile-basic-info-area">
                        <h5><i class="fa fa-info"></i> Basic information</h5>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <label class="lcd-profile-basic-info">
                                    <span class="lcd-profile-basic-info-title">First Name</span>
                                    <input class="lcd-profile-basic-info-input" placeholder=" Ex: Tobi" type="text" value="{{ user.first_name }}">
                                </label>
                                <label class="lcd-profile-basic-info">
                                    <span class="lcd-profile-basic-info-title">Email Address</span>
                                    <input class="lcd-profile-basic-info-input" placeholder=" Ex: example@email.com" type="email" value="{{ user.email }}" disabled>
                                </label>
                                <label class="lcd-profile-basic-info">
                                    <span class="lcd-profile-basic-info-title">Phone Number</span>
                                    <input class="lcd-profile-basic-info-input" placeholder="Ex: 09090587701" type="text" value="{{ user.phone }}">
                                </label>
                            </div>
                            <div class="col-md-6 col-12">
                                <label class="lcd-profile-basic-info">
                                    <span class="lcd-profile-basic-info-title">Last Name</span>
                                    <input class="lcd-profile-basic-info-input" placeholder=" Ex: Olotu" type="text" value="{{ user.last_name }}">
                                </label>
                                <label class="lcd-profile-basic-info">
                                    <span class="lcd-profile-basic-info-title">User Name</span>
                                    <input class="lcd-profile-basic-info-input" placeholder="Ex: TobiOlotu" type="text" value="{{ user.username }}">
                                </label>
                                <label class="lcd-profile-basic-info">
                                    <span class="lcd-profile-basic-info-title">Address</span>
                                    <input class="lcd-profile-basic-info-input" placeholder="Ex: 20, Maple Avenue, Ikeja, Lagos" type="text" value="{{ user.street }}, {{ user.state }}, {{ user.country }}">
                                </label>
                            </div>
                            <!-- <div class="col-12">
                                <label class="lcd-profile-basic-info">
                                    <span class="lcd-profile-basic-info-title">Introduce your self</span>
                                    <textarea class="lcd-profile-basic-info-textarea" placeholder="Lorem ipsum dolor..."rows="3"></textarea>
                                </label>
                            </div>   --> 
                        </div>
                    </div>
                    <!-- basic info profile section end -->
                    <!-- social profile section start -->
                    <div class="lcd-profile-basic-info-area">
                        <h5><span class="fa fa-user-plus"></span> Social </h5>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <label class="lcd-profile-basic-info">
                                    <span class="lcd-profile-basic-info-title">Facebook</span>
                                    <input class="lcd-profile-basic-info-input" placeholder="facebook.com/username" type="text">
                                </label>
                                <label class="lcd-profile-basic-info">
                                    <span class="lcd-profile-basic-info-title">Twitter</span>
                                    <input class="lcd-profile-basic-info-input" placeholder="twitter.com/username" type="text">
                                </label>
                            </div>
                            <div class="col-md-6 col-12">
                                <label class="lcd-profile-basic-info">
                                    <span class="lcd-profile-basic-info-title">Instagram</span>
                                    <input class="lcd-profile-basic-info-input" placeholder="instagram.com/username" type="text">
                                </label>
                                <label class="lcd-profile-basic-info">
                                    <span class="lcd-profile-basic-info-title">Linkedin</span>
                                    <input class="lcd-profile-basic-info-input" placeholder="linkedin.com/username" type="text">
                                </label>
                            </div>  
                        </div>
                    </div>
                    <!-- social profile section end -->
                </div>
            </div>
            <!-- password profile section start -->
            <div class="row">
                <div class="col-12">
                    <div class="lcd-profile-basic-info-area">
                        <h5><span class="fa fa-lock"></span> Change Password</h5>
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <label class="lcd-profile-basic-info">
                                    <span class="lcd-profile-basic-info-title">New Password</span>
                                    <input class="lcd-profile-basic-info-input" placeholder="Write New Password" type="password">
                                </label>
                            </div>
                            <div class="col-md-6 col-12">
                                <label class="lcd-profile-basic-info">
                                    <span class="lcd-profile-basic-info-title">Repeat Password</span>
                                    <input class="lcd-profile-basic-info-input" placeholder="Write Again Your New Password" type="password">
                                </label>
                            </div>
                            <div class="col-12">
                                <input type="submit" class="lcd-profile-basic-info-btn" value="Save Changes">
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
            <!-- password profile section end -->
        </div>
        </form>
        <!-- /End profile section-->
    {% endblock %}

    {% block footer %}
    {% endblock %}