<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>FORM 1 | SCHOOLS CONN</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
        <link href="css/form.css" rel="stylesheet" type="text/css">
        <link href="css/innerpage.css" rel="stylesheet" type="text/css">
        <link href="css/responsive.css" rel="stylesheet" type="text/css">
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="pull-left tel-set"><img src="images/tell-icon.png"><a href="tel:+2349090587701">+2349090587701</a></div>
                    <div class="pull-right mail-set"><img src="images/mail-icon.png"><a href="mailto:enquire@schoolsconn.com">enquire@schoolsconn.com</a></div>
                </div>                    
            </div>
        </header>
        <div class="inner-navbar">
            <div class="container">
                <div class="row">
                    <div class="inner-navbar-left">
                        <img src="images/logo.png" class="img-responsive" alt="">
                    </div>
                    <div class="inner-bavbar-right">
                        <div class="ib-serch">
                            <input type="text" placeholder="Serch here...">
                            <button>Search</button>
                        </div>
                        <div class="notification">
                            <a href="#"> <img src="images/notifucation-icon.png" class="img-responsive" alt="noti">
                                <span>12</span></a>
                        </div>
                        <div class="profile-drop">
                            <img src="images/profile-icon.png" alt="prpic">
                            <div class="dropdown">
                                <button class="dropbtn">Pitter smith</button>
                                <div class="dropdown-content">
                                    <a href="#">Pitter smith</a>
                                    <a href="#">John polad</a>
                                    <a href="#">pitter smith</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="inner-banner">
            <div class="banner-block">
                <img src="images/dash-banner.png" class="img-responsive" alt="inb">
            </div>
            <div class="banner-cam">
                <!--                <a href=""><img src="images/camera-icon.png" alt="camera"></a>-->
                <button class="file-upload">            
                    <input type="file" class="file-input"><img src="images/camera-icon.png">
                </button>
            </div>
        </div>

        <div class="profile-sec">
            <div class="container">
                <div class="row">
                    <div class="pro-box">
                        <div class="profile-box">
                            <img src="images/profileman.jpg" class="img-responsive" alt="proman">
                        </div>
                        <div class="carousel-caption-inner">
                            <h1>Pitter Smith</h1>
                            <p>Lorem Ipsum is simply dummy text</p>
                        </div>
                        <button class="file-upload">            
                            <input type="file" class="file-input"><img src="images/camera-icon.png">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <section class="inner-midle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 pad-hide1 res-md-12">
                        <div class="side-inner-menu">
                            <div class="tab">
                                <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'tab1')" id="defaultOpen">HOME</a>
                                <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'tab2')">PROFILE</a>
                                <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'tab3')">MESSAGE</a>
                                <a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'tab4')">REVIEWS</a>
                            </div>                           
                        </div>
                    </div>
                    <div class="col-sm-9 res-md-12">
                        <div class="row">
                            <div id="tab1" class="tabcontent">
                                <h3>school</h3>
                            </div>

                            <div id="tab2" class="tabcontent">
                                <div class="bord-box">
                                    <div class="lable-top-sec">
                                        <h5>Basic Info</h5>
                                    </div>
                                    <div class="from-top-sec">
                                        <form>
                                            <div class="col-sm-7">
                                                <div class="from-group">
                                                    <label>Institution Name</label>
                                                    <input type="text"> 
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group chk-sec">
                                                    <label>Govt Reg/Approved</label>
                                                    <input type="checkbox"><span>Yes</span>
                                                    <input type="checkbox"><span>No</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label>motto</label>
                                                    <input type="text" class="txt-align">
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="txt-lable">Distinctive Description/Mission</label>
                                                    <textarea placeholder="Max. of 100 words. Wow your visitors with this short description of your Institution"></textarea>
                                                </div>
                                            </div>
                                        </form>

                                        <div class="contact-detail-from col-sm-12">
                                            <h5>contact detail</h5>
                                            <div class="form-group">
                                                <label>phone</label>
                                                <input type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>website</label>
                                                <input type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>email</label>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="location-detail-from col-sm-12">
                                            <h5>LOCATION DETAILS</h5>
                                            <div class="col-sm-6 form-group col-pad-rm">
                                                <label>state</label>
                                                <select>
                                                    <option>xyz</option>
                                                    <option>xyz</option>
                                                    <option>xyz</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6 form-group col-pad-rm">
                                                <label>lga</label>
                                                <select>
                                                    <option>xyz</option>
                                                    <option>xyz</option>
                                                    <option>xyz</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6 form-group col-pad-rm">
                                                <label>City/Town</label>
                                                <input type="text">
                                            </div>
                                            <div class="col-sm-6 form-group col-pad-rm">
                                                <label>Street Address</label>
                                                <input type="text">
                                            </div>
                                            <div class="col-sm-12 form-group area-box col-pad-rm">
                                                <label class="txt1-lable">Direction/Major Landmark</label>
                                                <textarea placeholder="Max. of 100 words. Give a precise description how a parent can easily get to your institution. The clearer the better."></textarea>
                                            </div>
                                            <div class="btn-group-sec">
                                                <button>Cancel</button>
                                                <button>Save</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="bord-box1">
                                    <div class="lable-top-sec">
                                        <h5>ADDITIONAL INFORMATION</h5>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="add-info">
                                            <div class="form-group">
                                                <label>Year Founded</label>
                                                <select>
                                                    <option>month</option>
                                                </select>
                                                <select>
                                                    <option>year</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>award</label>
                                                <textarea placeholder="List the awards obtained by your Institution or your students. List them line by line"></textarea>
                                            </div>
                                            <div class="school-cer">
                                                <h5>SCHOOL CURRICULUM</h5>
                                                <div class="form-group cur-lbl">
                                                    <label><input type="checkbox">Nigerian</label> 
                                                    <label><input type="checkbox">British</label> 
                                                    <label><input type="checkbox">British-American</label> 
                                                    <label><input type="checkbox">American</label>
                                                    <label><input type="checkbox">Other</label>  
                                                </div>
                                            </div>
                                            <div class="school-cer">
                                                <h5>EXTRA CURRICULAR ACTIVITIES</h5>
                                                <div class="det-for">

                                                    <label><input type="checkbox"> Costume Day</label>  <label><input type="checkbox"> Career Day</label>  <label><input type="checkbox"> Cultural Day</label>  <label><input type="checkbox"> Dance Troupe</label>  <label><input type="checkbox"> Debate</label>  <label><input type="checkbox"> Etiquette Training</label>  <label><input type="checkbox"> Field Trips</label>  <label><input type="checkbox"> Inter House Sports</label>  <label><input type="checkbox"> Quiz Competition</label>  <label><input type="checkbox"> Spelling Bee</label> 


                                                </div>
                                                <div class="form-group lbl-area">
                                                    <label class="txt-lable ">Distinctive Description/Mission</label>
                                                    <textarea placeholder="text"></textarea>
                                                </div>

                                            </div>
                                            <div class="school-cer">
                                                <h5>FACILITIES</h5>
                                                <div class="det-for">
                                                    <label><input type="checkbox">Standard Multipurpose Hall</label> <label><input type="checkbox"> Standard ICT Centre</label> <label><input type="checkbox">  Sporting Complex</label> <label><input type="checkbox">  Play Ground</label> <label><input type="checkbox">  Standard Library</label> <label><input type="checkbox">  Swimming Pool</label> <label><input type="checkbox">  Bus Service</label> <label><input type="checkbox"> Lunch Pro-gramme</label> <label><input type="checkbox"> Interactive Whiteboard</label> <label><input type="checkbox"> Standard Science Laboratory</label> <label><input type="checkbox">  Standard Technical Workshop</label> <label><input type="checkbox">  Sick Bay</label> <label><input type="checkbox">  Special Needs Care</label> <label><input type="checkbox"> Standard Rest Rooms</label> <label><input type="checkbox">  Air Conditioned Classes</label>

                                                </div>

                                                <div class="form-group lbl-area">
                                                    <label class="txt-lable ">Distinctive Description/Mission</label>
                                                    <textarea placeholder="text"></textarea>
                                                </div>
                                            </div>
                                            <div class="school-cer">
                                                <h5>CLUBS & SOCITIES</h5>
                                                <div class="det-for">
                                                    <label><input type="checkbox"> Ballet</label><label><input type="checkbox"> Chess</label><label><input type="checkbox"> Drama</label><label><input type="checkbox"> Debate</label><label><input type="checkbox"> Dance</label><label><input type="checkbox"> Entrepreneurship</label><label><input type="checkbox"> Foreign Languages</label><label><input type="checkbox"> Health</label><label><input type="checkbox"> JETS</label><label><input type="checkbox"> JCI</label><label><input type="checkbox"> Press</label><label><input type="checkbox"> Road Safety</label><label><input type="checkbox"> Swimming</label><label><input type="checkbox"> Taekwondo</label><label><input type="checkbox"> FCS</label><label><input type="checkbox"> SU</label><label><input type="checkbox"> MSSN</label> 

                                                </div>
                                                <div class="form-group lbl-area">
                                                    <label class="txt-lable ">Distinctive Description/Mission</label>
                                                    <textarea placeholder="text"></textarea>
                                                </div>
                                            </div>
                                            <div class="school-cer">
                                                <h5>CLASSES OFFERED</h5>
                                                <div class="form-group">
                                                    <div class="det-for-check">
                                                        <div class="chekbx">
                                                            <input type="checkbox"><span>Crèche</span>
                                                        </div>
                                                        <select>
                                                            <option>Free Per Team</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="det-for-check">
                                                        <div class="chekbx">
                                                            <input type="checkbox"><span>Kindergarten Class</span>
                                                        </div>
                                                        <select>
                                                            <option>Free Per Team</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="det-for-check">
                                                        <div class="chekbx">
                                                            <input type="checkbox"><span>Lower Basic Class</span>
                                                        </div>
                                                        <select>
                                                            <option>Free Per Team</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="det-for-check">
                                                        <div class="chekbx">
                                                            <input type="checkbox"><span>Upper Basic Class</span>
                                                        </div>
                                                        <select>
                                                            <option>Free Per Team</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="det-for-check">
                                                        <div class="chekbx">
                                                            <input type="checkbox"><span>Secondary Class</span>
                                                        </div>
                                                        <select>
                                                            <option>Free Per Team</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="det-for-check">
                                                        <div class="chekbx">
                                                            <input type="checkbox"><span>Pre Degree</span>
                                                        </div>
                                                        <select>
                                                            <option>Free Per Team</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="det-for-check">
                                                        <div class="chekbx">
                                                            <input type="checkbox"><span>After School Lessons</span>
                                                        </div>
                                                        <select>
                                                            <option>Free Per Team</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="det-for-check">
                                                        <div class="chekbx">
                                                            <input type="checkbox"><span>After School Care</span>
                                                        </div>
                                                        <select>
                                                            <option>Free Per Team</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="det-for-check">
                                                        <div class="chekbx">
                                                            <input type="checkbox"><span>Professional Classes</span>
                                                        </div>
                                                        <select>
                                                            <option>Free Per Team</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="det-for-check">
                                                        <div class="chekbx">
                                                            <input type="checkbox"><span>Vocational Training</span>
                                                        </div>
                                                        <select>
                                                            <option>Free Per Team</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="school-cer">
                                                <div class="col-sm-9 col-pad-rm">
                                                    <h5>ADMISSION OFFICE</h5>
                                                    <div class="form-group add-off">
                                                        <label>Admission Status</label>
                                                        <input type="checkbox"><span>open</span>
                                                        <input type="checkbox"><span>close</span>
                                                    </div>
                                                    <div class="form-group add-off">
                                                        <label>Discount on Third Child and/or Above</label>
                                                        <input type="checkbox"><span>yes</span>
                                                        <input type="checkbox"><span>no</span>
                                                    </div>
                                                    <div class="add-info1">
                                                        <h5>ADMISSION OFFICEr</h5>
                                                        <div class="form-group add-off">
                                                            <label>First Name</label>
                                                            <input type="text">
                                                        </div>
                                                        <div class="form-group add-off">
                                                            <label>Last Name</label>
                                                            <input type="text">
                                                        </div>
                                                        <div class="form-group add-off">
                                                            <label>Phone Number</label>
                                                            <input type="text">
                                                        </div>
                                                        <div class="form-group add-off">
                                                            <label>Email</label>
                                                            <input type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3 res-upd col-pad-rm">
                                                    <div class="upl-box"></div>
                                                    <div class="upload-btn">
                                                        <input type="file">
                                                        <button>Upload Picture</button>
                                                    </div>
                                                    <div class="upl-btn-group">
                                                        <button>Cancel</button>
                                                        <button>Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="bord-box2">
                                    <div class="lable-top-sec">
                                        <h5>UPLOAD SECTION</h5>
                                    </div>
                                    <div class="upload-box">
                                        <div class="form-group">
                                            <div class="upload-section">
                                                <label>Admission Letter</label>
                                                <div class="upload-btn1">
                                                    <input type="file">
                                                    <button>upload</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="upload-box">
                                        <div class="form-group">
                                            <div class="upload-section">
                                                <label>Newsletter</label>
                                                <div class="upload-btn1">
                                                    <input type="file">
                                                    <button>upload</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="upload-box">
                                        <div class="form-group">
                                            <div class="upload-section">
                                                <label>Results Report</label>
                                                <div class="upload-btn1">
                                                    <input type="file">
                                                    <button>upload</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="upload-box">
                                        <div class="form-group">
                                            <div class="upload-section">
                                                <label>CAC Registration</label>
                                                <div class="upload-btn1">
                                                    <input type="file">
                                                    <button>upload</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="upload-box">
                                        <div class="form-group">
                                            <div class="upload-section">
                                                <label>Govt Reg Cert</label>
                                                <div class="upload-btn1">
                                                    <input type="file">
                                                    <button>upload</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="upl-btn-group col-sm-4">
                                        <button>Cancel</button>
                                        <button>Save</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div id="tab3" class="tabcontent">
                                <div class="bord-box3">
                                    <div class="lable-top-sec">
                                        <h5>MESSAGES</h5>
                                    </div>
                                    <div class="massege-box">
                                        <div class="massbx">
                                            <img src="images/massage-man-icon.png" class="img-responsive" alt="man">  
                                            <a href="#"><h5>John Smith</h5></a>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                            <div class="date-sec"><p>22 march 2017</p></div>
                                        </div>
                                        <div class="massbx">
                                            <img src="images/massage-man-icon.png" class="img-responsive" alt="man">  
                                            <a href="#"><h5>Me</h5></a>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                            <div class="date-sec"><p>22 march 2017</p></div>
                                        </div>
                                        <div class="massbx">
                                            <img src="images/massage-man-icon.png" class="img-responsive" alt="man">  
                                            <a href="#"><h5>You</h5></a>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                            <div class="date-sec"><p>22 march 2017</p></div>
                                        </div>
                                        <div class="massbx">
                                            <img src="images/massage-man-icon.png" class="img-responsive" alt="man">  
                                            <a href="#"><h5>Me</h5></a>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                            <div class="date-sec"><p>22 June 2017</p></div>
                                        </div>
                                        <div class="massbx">
                                            <img src="images/massage-man-icon.png" class="img-responsive" alt="man">  
                                            <a href="#"><h5>You</h5></a>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                            <div class="date-sec"><p>22 June 2017</p></div>
                                        </div>
                                        <div class="msg-box">
                                            <textarea placeholder="Message"></textarea>
                                            <button>Send</button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div id="tab4" class="tabcontent">
                                <div class="bord-box3">
                                    <div class="lable-top-sec">
                                        <h5>REVIEWS</h5>
                                    </div>
                                    <div class="ratrv-box">
                                        <div class="review-box">
                                            <h4>School Review</h4>
                                            <p>4.3</p><img src="images/5-star-rating.png" class="img-responsive"><span>7 Review</span>
                                        </div>
                                        <div class="reviewrat-box">
                                            <div class="rv-img">
                                                <img src="images/reviewman.png" class="img-responsive" alt="rem">
                                            </div>
                                            <div class="rat-msg">
                                                <h4>pitter</h4>
                                                <span>one day ago</span>
                                                <p><img src="images/4-star-rating.png">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                            </div>
                                        </div>
                                        <div class="reviewrat-box">
                                            <div class="rv-img">
                                                <img src="images/reviewman.png" class="img-responsive" alt="rem">
                                            </div>
                                            <div class="rat-msg">
                                                <h4>john</h4>
                                                <span>5 minute ago</span>
                                                <p><img src="images/4-star-rating.png">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                            </div>
                                        </div>
                                        <div class="reviewrat-box">
                                            <div class="rv-img">
                                                <img src="images/reviewman.png" class="img-responsive" alt="rem">
                                            </div>
                                            <div class="rat-msg">
                                                <h4>john</h4>
                                                <span>a week ago</span>
                                                <p><img src="images/4-star-rating.png">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                            </div>
                                        </div>
                                        <div class="write-rv">
                                            <h5>Write a review</h5>
                                            <span>review</span><img src="images/blank.png" alt="2star">
                                            <form class="rtv-form">
                                                <div class="form-group">
                                                    <label>Review summery</label>
                                                    <input type="text">
                                                </div>
                                                <div class="form-group">
                                                    <label>Review body</label>
                                                    <textarea></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" value="send">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>    
            </div>
        </section>

        <!-----footer section----->
        <footer class="footer-sec">
            <div class="container">
                <div class="row">
                    <div class="footer-links">
                        <h4>About us</h4>
                        <div class="footer-link-brd"></div>
                        <ul>
                            <li><a href="#">What We Do</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="footer-links">
                        <h4>Achieve more</h4>
                        <div class="footer-link-brd"></div>
                        <ul>
                            <li><a href="#">Find Schools</a></li>
                            <li><a href="#">Find Tutor</a></li>
                            <li><a href="#">Find Resources</a></li>
                        </ul>
                    </div>
                    <div class="footer-links">
                        <h4>Partner with us</h4>
                        <div class="footer-link-brd"></div>
                        <ul>
                            <li><a href="#">Create your School</a></li>
                            <li><a href="#">Become a Tutor</a></li>
                            <li><a href="#">Write for Us</a></li>
                        </ul>
                    </div>
                    <div class="footer-links f-connect">
                        <h4>Let’s Connect With You</h4>
                        <div class="footer-link-brd"></div>
                        <ul class="ft-last">
                            <li><img src="images/tell-icon.png"><a href="tel:23-456-7890">23-456-7890</a></li>
                            <li><img src="images/mail-icon.png"><a href="mailto:enquire@schoolsconn.com">enquire@schoolsconn.com</a></li>
                        </ul>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li> 
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="footer-bottom">
                        <p>© 2017 SchoolsConn. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-----footer section----->
        <script>
            function openCity(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }

// Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
        </script>

        <!--        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->
        <script src="js/bootstrap.js" type="text/javascript"></script>
        <script src="js/jquery-2.1.0.min.js" type="text/javascript"></script>
    </body>
</html>
