
// font///
$font-quicksand: 'Quicksand', sans-serif;
$font-lato: 'Lato', sans-serif;

// project color//
$color-white: #ffffff;
$color-gray: #707070;
$color-gray2: #eeeeee;
$color-gray3: #ebebeb;
$color-blue-light: rgb( 238, 238, 238 );
$color-blue-light2: #f6f6f6;
$color-blue-light3: #2d9ce6;
$color-black: #000;
$color-blue: #1580c8;
$color-blue-light: #f4f8fa;
$color-green: #00d27a;
$color-red: #ff2626;
$color-helio: #9e5eff;
$color-orng: #ffa508;


